*{
    text-align: center;
}

body{
    height: 100vh;
}

table{
    width: 90%;
    border: 1px solid black;
    margin-left: 5%;
}

th, td{
    border: 1px solid black;
}

form{
    width: 50%;
    height: 50%;
    border: 2px solid blue;
    background-color: lightblue;
    
}